@using SportSore.WebUI.Models
@using SportSore.WebUI.HtmlHelpers
@model ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>List of Products</h2>
<h3>@Model.CurrentCategory </h3>

@foreach(var prod in Model.Products)
{
@Html.Partial("ProductSummary", prod)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.Page, (x) => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>

